@charset "UTF-8";

a.calendarEventLink:link, a.calendarEventLink:visited {
    font-size: .8rem;
    font-weight: normal;
}
.calendar {
    padding-right: .25rem;
}
.calendarTable {
    background-color: #e0f1fc;
    border-collapse: separate;
    border-spacing: 1px;
    width: 100%;
}
.calendarBorder {
    background-color: #ecf2f6;
    padding: .0625rem;
}
.calendarBlanc {
    background-color: #fff;
    vertical-align: top;
}
.calendarHeader {
    background-color: #007bff;
    color: #fff;
    padding: .125rem;
    text-align: center;
}
.calendarHeaderWeekBig {
    background: #007bff;
    color: #fff;
    padding: .5rem 1rem;
}
.calendarHeaderWeek {
    background: #ecf2f6;
    padding: .5rem 0;
}
.calendarHeaderBig {
    background-color: #007bff;
    color: #fff;
    padding: .5rem;
    text-align: center;
}
.calendarInactiveDay {
    color: #ccbdb7;
    font-size: .8rem;
    font-style: italic;
}
.calendarToday {
    background-color: #007bff;
    color: #fff;
    padding-right: .25rem;
}
.calendarLinkSmall, .calendarLinkSmall:hover {
    color: #fff;
}
.calendarBig {
    vertical-align: top;
}
.calendarTodayBig {
    background-color: #fff;
    border: .0625rem solid #007bff;
    height: 6rem;
    padding: .5rem;
    vertical-align: top;
}
