@charset "UTF-8";

/* Переопределяем правила bootstrap */
@media (max-width: 767.98px) {
    .btn-block-sm {
        display: block;
        width: 100%;
    }
}
.form-control:focus, .btn:focus {
    box-shadow: none !important;
}
.form-group {
    position: relative;
}
.tooltip-inner {
    max-width: 18rem;
    text-align: left;
}
.card-header {
    background-color: #ecf2f6;
}
.carousel-control-next, .carousel-control-prev {
    width: auto;
}

/* Основные правила */
*, *::before, *::after {
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 100%;
    height: 100%;
}
@media (max-width: 480px) {
    html {
        font-size: 90%;
    }
}

body {
    display: flex;
    color: #313439;
    flex-direction: column;
    min-height: 100vh;
}
.container {
    max-width: 1400px;
}
a, a:link, a:visited {
    text-decoration: none;
}
a:hover, a:focus {
    outline: none;
}
.text-link {
    color: #007bff;
}

h1, .h1 {
    font-size: 2rem;
}
h2, .h2 {
    font-size: 1.75rem;
}
h3, .h3 {
    font-size: 1.563rem;
}
h4, .h4 {
    font-size: 1.375rem;
}
h5, .h5 {
    font-size: 1.188rem;
}
h6, .h6 {
    font-size: 1.063rem;
}
@media (max-width: 768px) {
    h1, .h1 {
        font-size: 1.625rem;
    }
    h2, .h2 {
        font-size: 1.5rem;
    }
    h3, .h3 {
        font-size: 1.375rem;
    }
    h4, .h4 {
        font-size: 1.25rem;
    }
    h5, .h5 {
        font-size: 1.125rem;
    }
    h6, .h6 {
        font-size: 1rem;
    }
}

.header {
    margin-bottom: 1.5rem;
}
.main {
    flex: 1;
}
.message {
    background-color: rgba(206, 212, 218, .7);
    border: .3125rem solid #ced4da;
    margin: 10rem auto;
    padding: 2.5rem;
    text-align: center;
    width: 40rem;
}
@media (max-width: 42rem) {
    .message {
        margin: 1rem auto;
        max-width: 100%;
    }
}
.wrapper {
    margin-bottom: 1rem;
}
.spacer {
    margin-bottom: .5rem;
    margin-top: .5rem;
}
.pointer {
    cursor: pointer;
}
.size-lg {
    font-size: 1.125rem;
}
.size-xl {
    font-size: 1.5rem;
}
.height-4 {
    height: 4rem;
}
.height-5 {
    height: 5rem;
}
.height-6 {
    height: 6rem;
}
.title {
    border-bottom: .0625rem solid #ced4da;
    margin: .5rem 0;
}
.loader {
    background: url('../../images/page/loading.gif') 50% 50% no-repeat;
    display: none;
    min-height: 3rem;
}
.round {
    border-radius: .1875rem;
    overflow: hidden;
}
.box-content {
    background-color: #ecf2f6;
    border-radius: .1875rem;
    margin: .5rem 0 1rem 0;
    padding: 1rem;
}
.box-popup {
    background-color: #ecf2f6;
    box-sizing: border-box;
    flex: 1;
    padding: 1rem;
}
.box-block {
    background-color: #fff;
    border: .0625rem solid #ced4da;
    border-radius: .1875rem;
    padding: .5rem;
}
.box-error {
    background: #fff;
    border: .0625rem solid #dc3545;
    border-radius: .1875rem;
    color: #dc3545;
    margin: .5rem 0 1rem 0;
    overflow: hidden;
    padding: 1rem;
}
.border-error {
    border: .125rem solid #dc3545;
}
.row-header {
    background-color: #c9e7fa;
    font-weight: 600;
    margin: 0;
    padding: .5rem;
}
.row-primary {
    background-color: #e0f1fc;
    margin: 0;
    padding: .5rem;
}
.row-secondary {
    background-color: #f2f9fd;
    margin: 0;
    padding: .5rem;
}
.error {
    color: #dc3545;
}
label.error {
    bottom: -1.7rem;
    font-size: 90%;
    position: absolute;
}
.required::after {
    color: #dc3545;
    content: '*';
    padding-left: .25rem;
}
.highlight {
    color: #dc3545;
    font-weight: bold;
    text-transform: uppercase;
}
.form-control.error {
    border: .0625rem solid #dc3545;
}
.square-icon {
    background: #fff;
    border: .0625rem solid #ced4da;
    border-radius: .125rem;
    color: #313439;
    cursor: pointer;
    margin: .125rem 0;
}
.img-left {
    float: left;
    margin: .5rem 1rem .5rem 0;
}
.img-right {
    float: right;
    margin: .5rem 0 .5rem 1rem;
}
.flex-line {
    align-items: center;
    display: flex;
}
.listing-head {
    border-bottom: .0625rem solid #ced4da;
    margin-bottom: .25rem;
    padding-bottom: .25rem;
}
.listing-foot {
    border-top: .0625rem solid #ced4da;
    margin-top: .5rem;
    padding-top: .5rem;
}
.listing-img-right {
    float: right;
    height: 5rem;
    margin: .25rem 0 .25rem .5rem;
}
.listing-img-left {
    float: left;
    height: 5rem;
    margin: .25rem .5rem .25rem 0;
}

/* Оформление капчи */
.captcha {
    align-items: center;
    display: flex;
    height: 2rem;
    margin-right: .5rem;
}
.captcha-width {
    width: 7rem;
}

/* Оформление боковых панелей */
.panel {
    border-radius: .1875rem;
    overflow: hidden;
}
.panel-main {
    background: #ecf2f6;
    padding: 1rem;
}
.panel-head {
    border-bottom: .0625rem solid #ced4da;
    font-size: 1.375rem;
    margin: .5rem 0;
}
@media (min-width: 768px) {
    .panel-head {
        background-color: #807872;
        color: #fff;
        font-size: 1rem;
        font-weight: bold;
        margin: 0;
        padding: .8rem 1rem;
        text-transform: uppercase;
    }
}

/* Оформление автокомплита */
.ac_results {
    background-color: #fff;
    border: .0625rem solid #007bff;
    border-radius: .1875rem;
    display: none;
    list-style: none;
    margin: 0;
    max-height: 15rem;
    overflow: auto;
    padding: 0;
    position: absolute;
    width: 20rem;
    z-index: 10002;
}
.ac_results li {
    padding: .5rem;
    white-space: nowrap;
}
.ac_over {
    background: #e0f1fc;
    cursor: pointer;
}
.ac_match {
    color: #dc3545;
    text-decoration: underline;
}
.status {
    background: #fff;
    border: .0625rem solid #007bff;
    border-radius: .1875rem;
    padding: .1875rem;
    position: absolute;
    z-index: 1000;
}

/* Оформление пагинатора */
.navigation_container {
    align-items: center;
    display: flex;
    justify-content: center;
}
.page_navigation {
    background-color: #fff;
    border: .0625rem solid #dee2e6;
    color: #007bff;
    display: block;
    line-height: 1.25;
    margin-left: -.0625rem;
    padding: .5rem .75rem;
    position: relative;
}
.page_active, .page_navigation {
    border: .0625rem solid #c7bdb9;
    border-radius: .1875rem;
    margin: 0 .25rem;
    padding: 0 .5rem;
}

/* Оформление панели иконок */
.iconpanel {
    align-items: center;
    display: flex;
}
.iconpanel i {
    font-size: 1.5rem;
}

/* Оформление верхнего меню */
.header-menu .dropdown:hover .dropdown-menu {
    display: block;
}
.header-menu .dropdown-menu {
    margin-top: 0;
}

/* Оформление бокового меню */
.sidebar-menu {

}
.sidebar-menu .active {
    font-weight: bold;
}
.sidebar-menu .nav-link {
    padding: .5rem .25rem;
}

/* Оформление footer */
.footer {
    color: #fff;
    font-size: 1rem;
}
.footer-top {
    background: #990000;
    padding: 2.5rem 0;
}
.footer-bottom {
    background-color: #103344;
    position: relative;
}
.footer-title {
    border-bottom: .0625rem solid #ffcb00;
    margin: .5rem 0;
}
.footer-list-menu {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    list-style: none;
    padding-left: 0;
}
.footer-list-item {
    margin-bottom: .625rem;
    padding-left: 1rem;
    position: relative;
}
.footer-list-item a {
    color: #fff;
    display: inline-block;
}
.footer-list-item::before {
    background-color: #ffcb00;
    content: '';
    height: .5rem;
    left: 0;
    position: absolute;
    top: .5rem;
    width: .5rem;
}
.copyright, .copyright a {
    color: #ffcb00;
    padding: 1.25rem 0;
    text-align: center;
}
.version {
    position: absolute;
    right: 1.375rem;
    top: 1.125rem;
}

/* Оформление кнопки вверх */
.back-to-top {
    background-color: #ffcb00;
    bottom: 4rem;
    cursor: pointer;
    display: none;
    height: 2.5rem;
    position: fixed;
    right: 1rem;
    width: 2.5rem;
    z-index: 9999;
}
.back-to-top:after {
    border-right: .125rem solid #fff;
    border-top: .125rem solid #fff;
    content: '';
    height: .75rem;
    left: 50%;
    position: absolute;
    top: 1rem;
    transform: translateX(-50%) rotate(-45deg);
    width: .75rem;
}
.back-to-top:hover {
    background: #007bff;
}

/* Оформление рейтинга */
.rating-star {
    display: flex;
}
.rating-star i {
    color: #ffcb00;
    cursor: pointer;
    font-size: 1.5rem;
}
@media (max-width: 768px) {
    .rating-star i {
        font-size: 1rem;
    }
}

/* Прочее */
.modcode {
    background: #fff;
    border: .0625rem solid #dc3545;
    margin: 0 .5rem .5rem .5rem;
    padding: .6rem;
}
.mod_header {
    background: #dc3545;
    color: #fff;
    margin: .5rem .5rem 0 .5rem;
    padding: .25rem 1rem;
}
.spoiler {
    overflow: auto;
    width: auto;
}
.spoilertext {
    display: none;
}
.spoilerheader {
    background-color: #c9e7fa;
    cursor: pointer;
    display: block;
    margin: .5rem .5rem 0 .5rem;
    padding: .25rem .5rem;
}
.divcode_header {
    background: #c9e7fa;
    margin: .5rem .5rem 0 .5rem;
    padding: .25rem 1rem;
}
.divcode {
    background: #fff;
    border: .0625rem solid #c9e7fa;
    margin: 0 .5rem .5rem .5rem;
    padding: .6rem;
}

/* Не обработанное - на удаление */
.popup_box a:hover {
    color: #000;
    text-decoration: none;
}
.infobox {
    background: #ecf2f6;
    border-radius: .1875rem;
    clear: both;
    margin: .5rem 0;
    padding: 1rem;
}
.popup_header {
    background: #007bff;
    border-radius: .1875rem;
    color: #fff;
    padding: .3125rem;
}
.popup_content {
    background-color: #fff;
    padding: .5rem;
}
.popup_box {
    background-color: #fff;
    border: .0625rem outset #807872;
    border-radius: .3125rem;
    padding: .5rem;
}
.row_first, .row_left {
    padding: .1875rem;
}
.row_second, .row_right {
    padding: .1875rem;
}
.data_first {
    background-color: #ecf2f6;
    color: #666;
    padding: .1875rem;
}
.data_second {
    background-color: #fff;
    padding: .1875rem;
}
.box_data {
    background: #fff;
    border: .0625rem solid #ccbdb7;
    border-radius: .1875rem;
    margin: 0 .5rem .5rem 0;
    padding: .5rem;
}
.box_innerhead {
    border-bottom: .0625rem solid #ced4da;
    margin: 1rem 0;
    padding: .3125rem 0;
}
.box_innerhead a:hover {
    color: #000;
}
