<div class="bg-white">
<div class="uk-container uk-container-large uk-overflow-auto">
{* <div data-uk-navbar="mode:click"> *}

  {* LEFT *}
  {* <div class="uk-navbar-left"> *}
    
  {* </div> *}

  {* CENTER *}
  {* <div class="uk-navbar-center">
    центр
  </div> *}

   {* RIGHT *}
  {* <div class="uk-navbar-right"> *}
    {include file="$incpath/other/breadcrumb.tpl"}
  {* </div> *}

{* </div> *}
</div>
</div>