{if $smarty.request.where == 'all'}
    {if $numall >= 1}
        <div class="box-content">
          {$countall_text}
        </div>

        <div class="box-content">
          {if $count_news >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q|urlencode}&amp;where=news&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RNews#} - {$count_news}
              </a>
          {/if}
          {if $count_articles >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q|urlencode}&amp;where=articles&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RArticles#} - {$count_articles}
              </a>
          {/if}
          {if $count_content >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=content&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RContent#} - {$count_content}
              </a>
          {/if}
          {if $count_faq >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=faq&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RFaq#} - {$count_faq}
              </a>
          {/if}
          {if $count_downloads >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=downloads&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RDownloads#} - {$count_downloads}
              </a>
          {/if}
          {if $count_links >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=links&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RLinks#} - {$count_links}
              </a>
          {/if}
          {if $count_galleries >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=gallery&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RGals#} - {$count_galleries}
              </a>
          {/if}
          {if $count_shoparticles >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=shop&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RShop#} - {$count_shoparticles}
              </a>
          {/if}
          {if $count_products >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=products&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RProducts#} - {$count_products}
              </a>
          {/if}
          {if $count_manufacturer >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=manufacturer&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RManufacturer#} - {$count_manufacturer}
              </a>
          {/if}
          {if $count_cheats >= 1}
              <a class="d-block" href="index.php?q={$smarty.get.q}&amp;where=cheats&amp;p=search">
                <i class="icon-search"></i>{#Page_Search_RCheats#} - {$count_cheats}
              </a>
          {/if}
        </div>
    {else}
        <div class="box-content">{#Page_Search_Nothing#}</div>
    {/if}
{else}
    {if get_active('cheats') && !empty($cheatitems) && $smarty.request.where == 'cheats'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Gaming_cheats#}</div>
        <div class="box-content">
          {foreach from=$cheatitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=cheats&amp;action=showcheat&amp;area={$art->Sektion}&amp;plattform={$art->Plattform}&amp;id={$art->Id}&amp;name={$art->Titel|translit}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('manufacturer') && !empty($manufactureritems) && $smarty.request.where == 'manufacturer'}
        <div class="h3 title">{#Page_Search_FoundIn#} {#Manufacturers#}</div>
        <div class="box-content">
          {foreach from=$manufactureritems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=manufacturer&amp;area={$art->Sektion}&amp;action=showdetails&amp;id={$art->Id}&amp;name={$art->Titel|translit}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('products') && !empty($productitems) && $smarty.request.where == 'products'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Products#}</div>
        <div class="box-content">
          {foreach from=$productitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=products&amp;area={$art->Sektion}&amp;action=showproduct&amp;id={$art->Id}&amp;name={$art->Titel|translit}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('shop') && !empty($shopitems) && $smarty.request.where == 'shop'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Shop#}</div>
        <div class="box-content">
          {foreach from=$shopitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=shop&amp;action=showproduct&amp;id={$art->Id|translit}&amp;cid={$art->Kategorie|translit}&amp;pname={$art->Titel|translit}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('gallery') && !empty($galleryitems) && $smarty.request.where == 'gallery'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Links#}</div>
        <div class="box-content">
          {foreach from=$galleryitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=gallery&amp;action=showgallery&amp;id={$art->Id}&amp;categ={$art->Kategorie}&amp;name={$art->Titel|translit}&amp;area={$art->Sektion}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('links') && !empty($linkitems) && $smarty.request.where == 'links'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Links#}</div>
        <div class="box-content">
          {foreach from=$linkitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=links&amp;action=showdetails&amp;area={$art->Sektion}&amp;categ={$art->Kategorie}&amp;id={$art->Id}&amp;name={$art->Titel|translit}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('downloads') && !empty($downloaditems) && $smarty.request.where == 'downloads'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Downloads#}</div>
        <div class="box-content">
          {foreach from=$downloaditems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=downloads&amp;action=showdetails&amp;area={$art->Sektion}&amp;categ={$art->Kategorie}&amp;id={$art->Id}&amp;name={$art->Titel|translit}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('faq') && !empty($faqitems) && $smarty.request.where == 'faq'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Faq#}</div>
        <div class="box-content">
          {foreach from=$faqitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=faq&amp;action=display&amp;faq_id={$art->Kategorie}&amp;area={$art->Sektion}&amp;name={$art->Titel|translit}#faq{$art->Id}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('News') && !empty($newsitems) && $smarty.request.where == 'news'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Newsarchive#}</div>
        <div class="box-content">
          {foreach from=$newsitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=news&amp;area={$art->Sektion}&amp;newsid={$art->Id}&amp;name={$art->Titel|translit}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if get_active('articles') && !empty($articleitems) && $smarty.request.where == 'articles'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Gaming_articles#}</div>
        <div class="box-content">
          {foreach from=$articleitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=articles&amp;area={$art->Sektion}&amp;action=displayarticle&amp;id={$art->Id}&amp;name={$art->Titel|translit}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
    {if !empty($contentitems) && $smarty.request.where == 'content'}
        <div class="h3 title">{#Page_Search_FoundIn#}{#Page_Search_Content#}</div>
        <div class="box-content">
          {foreach from=$contentitems item=art}
              <div class="wrapper">
                <div class="h4">
                  {$art->num}. <a href="index.php?p=content&amp;id={$art->Id}&amp;name={$art->Titel|translit}&amp;area={$art->Sektion}">{$art->Titel|sanitize}</a>
                </div>
                <div class="ml-3">
                  <div class="spacer">{$art->words}</div>
                  <div class=text-justify>{$art->erg}</div>
                </div>
              </div>
          {/foreach}
        </div>
        {if !empty($pages)}
            <div class="wrapper">
              {$pages}
            </div>
        {/if}
    {/if}
{/if}
