<!doctype html>
<html lang="{$langcode}" prefix="og: http://ogp.me/ns#">
{include file="$incpath/head/head-home.tpl"}
<body>
{result type='script' format='file' position='body_start'}
{result type='script' format='code' position='body_start'}
{result type='code'   format='code' position='body_start'}

{* анимация загрузки *}
<div id="preloader"><img id="anim_floating" src="{$baseurl}/logo45.png" alt="loading.."/></div>

<div class="uk-offcanvas-content">

   <header class="uk-background-fixed uk-background-center-center uk-background-cover" style="background-image: url({$imgpath}/page/cover.jpg)">
    <div class="uk-overlay-cover uk-overlay-primary">
      
      <div class="uk-inline uk-height-medium uk-width-1-1">

        <div class="uk-position-top zindex-2">
          {navigation id=4 tpl='navi-blog.tpl'}
          <hr class="uk-margin-remove" style="border-color:#0000001a">
        </div>

        <div class="uk-position-center uk-width-1-3@m slogan">
          {* <h4 class="uk-heading-divider uk-margin-remove" data-uk-scrollspy="cls: uk-animation-slide-top-small;delay:1000"></h4> *}
          <h1 class="uk-margin-remove" data-uk-scrollspy="cls: uk-animation-slide-bottom-small;delay:1000">{$settings.Seitenname|sanitize}</h1>
        </div>

      </div>

    </div>
  </header>

   {include file="$incpath/section/vk-articles.tpl"}

  {include file="$incpath/section/contact-info.tpl"}
  {* {include file="$incpath/section/map-yandex.tpl"} *}
  {* {include file="$incpath/footer/footer-home.tpl"} *}
  {$Newsletter}

</div><!--offcanvas-->

{* {include file="$incpath/other/vk-chat.tpl"} *}
{* {include file="$incpath/js/jsend-home.tpl"} *}

{result type='code'   format='code' position='body_end'}
{result type='script' format='file' position='body_end'}
{result type='script' format='code' position='body_end'}
</body>
</html>
