<script src="{$themepath}/js/jquery-2.1.1.js"></script>
<script src="{$jspath}/jpatch.js"></script>
<script src="{$jspath}/jquery.ui.js"></script>
<script src="{$jspath}/jtooltip.js"></script>
<script src="{$jspath}/jcolorbox.js"></script>
<script src="{$themepath}/js/admin.js"></script>
