  <div class="uk-child-width-1-5@s uk-grid-small uk-text-center" data-uk-grid>
    {* {assign var=break_count value=0} *}
    {foreach from=$sub_categs item=subcateg name=categ}
        <div>
          {if $subcateg->Bild_Kategorie}
              <a href="index.php?p=shop&amp;action=showproducts&amp;cid={$subcateg->catid}&amp;page=1&amp;limit={$smarty.request.limit|default:$plim}&amp;t={$subcateg->Name|translit}">
                <img class="img-fluid height-6" data-toggle="tooltip" title="{$subcateg->Name|tooltip}" src="uploads/shop/icons_categs/{$subcateg->Bild_Kategorie}" alt="{$subcateg->Name}" />
              </a>
                <a href="index.php?p=shop&amp;action=showproducts&amp;cid={$subcateg->catid}&amp;page=1&amp;limit={$smarty.request.limit|default:$plim}&amp;t={$subcateg->Name|translit}">
                  {$subcateg->Name}
                </a>
          {else}
                <a href="index.php?p=shop&amp;action=showproducts&amp;cid={$subcateg->catid}&amp;page=1&amp;limit={$smarty.request.limit|default:$plim}&amp;t={$subcateg->Name|translit}">
                  {$subcateg->Name}
                </a>
          {/if}
        </div>
        {* {assign var=break_count value=$break_count+1}
        {if $break_count % 3 == 0 && !$smarty.foreach.categ.last}
        </div>
        <div class="row spacer">
        {/if} *}
    {/foreach}
</div>
