<header class="bg-white">
  {* <div class="uk-container uk-container-large"> *}
    {* {navigation id=4 tpl='shop/shop-top-pc.tpl'} *}
    {navigation id=4 tpl='shop/shop-header-mob.tpl'}
    {navigation id=4 tpl='shop/shop-header-pc.tpl'}
    {* {navigation id=6 tpl='shop/shop-horizontal-pc.tpl'} *}
  {* </div> *}
</header>