@charset "UTF-8";

/* gridnav главное меню */
.gridnav .uk-open {left:0!important}
.gridnav .uk-navbar-dropdown {width:100%; top:unset!important; padding:0}
.uk-offcanvas-bar .gridnav .uk-navbar-nav > li > a.uk-open,
.gridnav .uk-navbar-nav > li > a.uk-open{color:var(--gray);background: #FFD391}
.uk-offcanvas-bar .uk-navbar-nav > li > a:hover,
.uk-offcanvas-bar .uk-navbar-nav > li:hover > a,
.gridnav .uk-navbar-nav > li > a{color:var(--gray);background:#FFD391}
.uk-offcanvas-bar .uk-navbar-nav > li > a,
.gridnav .uk-navbar-nav > li > a{display:block; text-align:center; color:var(--gray); background:var(--white); letter-spacing:1px; font-size:.7rem; font-weight:bold; min-height:3.3rem; border-radius:.5em; margin:.15rem; padding:.5rem 0;box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;}

.uk-nav > li > a {padding:.5rem}

/* Оформление верхнего меню */
.uk-navbar-container{transition:background-color .2s ease}
.uk-navbar-container:not(.uk-navbar-transparent),
.uk-background-default{background:var(--gray-vk)}

.uk-open > .uk-offcanvas-bar,
.uk-offcanvas-bar-animation{transition:transform .3s cubic-bezier(.86,0,.07,1)}
.uk-offcanvas-bar{color: var(--gray)}

[class*=uk-drop-bottom] {margin-top:0}

/* LIGHTBOX модальные окна */
.uk-lightbox-iframe {width:100%;height:90%}
.uk-lightbox-toolbar.uk-transition-slide-top{transform: unset}
/* .uk-lightbox,
.uk-offcanvas-overlay::before
{background: url(../images/layer_bg_black.png);filter:none} */

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{min-height:50px}

.uk-navbar-dropdown-nav > li > a:focus,
.uk-navbar-dropdown-nav > li > a:hover{color:#555;background:#f0f2f5}
.uk-nav > li > a {padding:.5rem 1rem}

.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-default > li > a:hover{background:#2A2A2E}
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a{padding-left:.5rem}
.uk-offcanvas-close{top:0;right:0;padding:.5rem;position:relative}

/* .uk-inline-clip .uk-overlay-primary {color:#fff;background: url(../../images/page/album_top_shadow.png);font-size:14px} */

.uk-padding-small{padding:.6rem}