.gridtab,.gridtab>dt,.gridtab>dd{margin:0;padding:0;position:relative;border:0 solid #edeef0}
#gridtab dt:hover{bottom:2px;position:relative}
#gridtab .menuitem:visited,#gridtab .menuitem:active{border-left:.25em solid #5181b8;}
#gridtab dd.submenu ul{list-style-type:none;margin:0;padding:0;}
.gridtab{display:-webkit-flex;display:-ms-flexbox;display:flex;-webkit-flex-wrap:wrap;-ms-flex-wrap:wrap;flex-wrap:wrap;-webkit-justify-content:flex-start;-ms-flex-pack:start;justify-content:flex-start;box-sizing:border-box;overflow-y:auto;overflow-x:hidden}
.gridtab *{box-sizing:border-box}
.gridtab>dd{z-index:1;display:none;min-width:100%;-webkit-flex-basis:100%;-ms-flex-preferred-size:100%;flex-basis:100%;margin: -5px 0 5px -5px!important}
.gridtab>dd>.gridtab__controls{position:absolute;right:5px;top:5px;display:-webkit-flex;display:-ms-flexbox;display:flex}
.gridtab>dd>.gridtab__controls>.gridtab__close{-webkit-order:1;-ms-flex-order:1;order:1;margin-left:1px}
.gridtab>dd>.gridtab__controls>.gridtab__close:before,.gridtab>dd>.gridtab__controls>.gridtab__close:after{top:50%;left:50%;-webkit-transform:translate(-50%,-50%) rotate(45deg);transform:translate(-50%,-50%) rotate(45deg)}
.gridtab>dd>.gridtab__controls>.gridtab__close:after{-webkit-transform:translate(-50%,-50%) rotate(-45deg);transform:translate(-50%,-50%) rotate(-45deg)}
.gridtab>dd>.gridtab__controls>.gridtab__arrow,.gridtab>dd>.gridtab__controls>.gridtab__close{display:block;width:25px;height:25px;overflow:hidden;text-indent:-999px;position:relative}
.gridtab>dd>.gridtab__controls>.gridtab__arrow:before,.gridtab>dd>.gridtab__controls>.gridtab__arrow:after,.gridtab>dd>.gridtab__controls>.gridtab__close:before,.gridtab>dd>.gridtab__controls>.gridtab__close:after{position:absolute;width:3px;height:13px;content:'';display:block;background:#FFF}
.gridtab>dd>.gridtab__controls>.gridtab__arrow:before,.gridtab>dd>.gridtab__controls>.gridtab__arrow:after{top:50%;left:50%;-webkit-transform:rotate(45deg);transform:rotate(45deg);-webkit-transform-origin:right;transform-origin:right;margin:-7px 0 0 -3px;height:10px}
.gridtab>dd>.gridtab__controls>.gridtab__arrow:after{margin-top:-4px;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}
.gridtab>dd>.gridtab__controls>.gridtab__arrow.is-disabled{opacity:.25}
.gridtab>dd>.gridtab__controls>.gridtab__next{-webkit-transform:scale(-1);transform:scale(-1);-webkit-transform-origin:center;transform-origin:center}
.gridtab>dt{color:var(--gray-dark);cursor:pointer;text-align:center;margin:5px;z-index:2;font-size: .5rem;font-weight:bold;text-transform:uppercase;background:#fff;border-radius: 10px}
.gridtab>dt:after{content:'';position:absolute;left:0;right:0}
.gridtab>dt.is-disabled{pointer-events:none}
.gridtab>dt.is-active{z-index:2;box-shadow:0 0 1px 1px orange inset;}
.gridtab>dt>img{max-width:100%;float:left;height:auto}
.gridtab[dir="rtl"]>dd>.gridtab__controls{right:auto;left:5px}
.gridtab[dir="rtl"]>dd>.gridtab__controls>.gridtab__next{-webkit-transform:none;transform:none}
.gridtab[dir="rtl"]>dd>.gridtab__controls>.gridtab__prev{-webkit-transform:scale(-1);transform:scale(-1)}
.gridtab[dir="rtl"]>dd>.gridtab__controls>.gridtab__close{margin-right:1px;margin-left:0}
