#gridder,#gridder-mob,#gridder-pc{margin:0;padding:0;list-style-type:none;overflow-x:hidden}
.gridder-list{display:inline-block; vertical-align:top; position:relative;left:5px; padding: 5px 0; border-radius: .5em;background: #fff}
.gridder-show{display:block;float:left;width:100%;max-width: 346px;position:relative;background:#fff url("../logo.svg") no-repeat center}
.gridder-show.loading{background:#EEE url("../logo.svg") no-repeat center}.gridder-content{display:none}
.gridder-list{width:30.5%}.gridder-list:nth-child(n){margin-top:5px}.gridder-list:nth-of-type(3n){}.gridder-show{padding:5px;margin-top:5px}.gridder-navigation .gridder-nav.disabled{opacity:.5}.gridder-list{cursor:pointer}.gridder-list:hover{opacity:0.9}.hasSelectedItem .gridder-list{opacity:.8}.hasSelectedItem .gridder-list.selectedItem{opacity:1;background: #ffd391}