<div class="uk-margin-small-bottom">
<label class="" for="Global_CurrSection">{#Global_CurrSection#}</label>
<select onchange="eval(this.options[this.selectedIndex].value);" class="uk-select" id="Global_CurrSection">
  {foreach from=$sections item=sw}
    <option value="location.href='index.php?do=login&amp;action=sectionswitch&amp;id={$sw->Id}'"{if $sw->Id == $area} selected="selected"{/if}>{$sw->Name}</option>
  {/foreach}
</select>
</div>