<div class="uk-margin-small-bottom">
<label class="" for="Sections_theme">{#Sections_theme#}:</label>
<select onchange="eval(this.options[this.selectedIndex].value);" class="uk-select">
  {foreach from=$themes item=th}
    <option value="location.href='index.php?do=login&amp;action=themeswitch&amp;theme={$th}'"{if $th == $theme} selected="selected"{/if}>{$th}</option>
  {/foreach}
</select>
</div>