.uk-card-hover:hover{
position: relative;
transform: translate3d(0, -.2em, 0);
transition: all .2s linear;
-webkit-transition: all .2s linear;
}

{* имя фамилия *}
{$smarty.session.benutzer_vorname} {$smarty.session.benutzer_nachname}

{* ссылки шеринга *}
<li class="facebook icon-gray"><a href="http://www.facebook.com/sharer.php?u=http://ps.flytheme.net/themes/sp_market2/en/fashions/50-baby-boys-hats-and-caps.html" class="text-hide" title="Share" target="_blank">Share</a></li>
<li class="twitter icon-gray"><a href="https://twitter.com/intent/tweet?text=Baby Boys Hats and Caps http://ps.flytheme.net/themes/sp_market2/en/fashions/50-baby-boys-hats-and-caps.html" class="text-hide" title="Tweet" target="_blank">Tweet</a></li>
<li class="googleplus icon-gray"><a href="https://plus.google.com/share?url=http://ps.flytheme.net/themes/sp_market2/en/fashions/50-baby-boys-hats-and-caps.html" class="text-hide" title="Google+" target="_blank">Google+</a></li>
<li class="pinterest icon-gray"><a href="http://www.pinterest.com/pin/create/button/?media=http://ps.flytheme.net/themes/sp_market2/145/baby-boys-hats-and-caps.jpg&amp;url=http://ps.flytheme.net/themes/sp_market2/en/fashions/50-baby-boys-hats-and-caps.html" class="text-hide" title="Pinterest" target="_blank">Pinterest</a></li>


{* адрес нынешней страницы *}
{page_link}

Выбрать локальные URL
Как можно выбрать не просто все урлы в HTML странице а те которые не начинаются на http://, другими словами локальные.
preg_match_all("#\s(?:href|src|url)=(?:[\"\'])?(.*?)(?:[\"\'])?(?:[\s\>])#i", $buffer, $matches);

{if !empty({$settings.Fax})}

id="jq_fillcolor"

  <script type="application/ld+json">
      {
    "@context": "http:\/\/schema.org",
    "@type": "Article",
    "mainEntityOfPage": {
        "@type": "WebPage",
        "@id": "https:\/\/habr.com\/post\/22809\/"
    },
    "headline": "Оформление внешних и внутренних ссылок",
    "datePublished": "2008-04-02T22:26:17+04:00",
    "dateModified": "1970-01-01T03:00:00+03:00",
    "author": {
        "@type": "Person",
        "name": "Александр"
    },
    "publisher": {
        "@type": "Organization",
        "name": "Habr",
        "logo": {
            "@type": "ImageObject",
            "url": "https:\/\/dr.habracdn.net\/habrcom\/images\/habr_google.png"
        }
    },
    "description": "Посещяя сайты я хотел бы, чтобы все на них было наглядно и понятно, а поскольку мне иногда приходиться делать дизайн сата я предлагаю в этом небольшую помощь.",
    "image": [
        "http:\/\/arrow.gif",
        "https:\/\/habrastorage.org\/getpro\/habr\/olpictures\/88f\/b2a\/177\/88fb2a177c91f977c26b98e6ffa1bdd0.gif",
        "https:\/\/habrastorage.org\/getpro\/habr\/olpictures\/06b\/c18\/a25\/06bc18a25fe45778cc62bc276911a213.gif",
        "https:\/\/habrastorage.org\/getpro\/habr\/olpictures\/4d3\/7e5\/9ad\/4d37e59ad58a472d88d2c611ca51891d.gif"
    ]
}
    </script>

То есть из smarty мы можем обратиться к массиву $_SERVER и $_GET.
Например, определим, находимся ли мы сейчас на главной странице
{if $smarty.server.REQUEST_URI == "/"}кажется это главная{/if}

Значение переменной
{$foo|@debug_print_var}

Консоль отладки, показывает все переданные данные скриптом в smarty
{debug}

<IfModule mod_mime.c>
AddCharset utf-8 .json .atom .rss .xml .css .js
</IfModule>

if ($this->_options['rewrite'] == 1) {
  $tpl .= '<IfModule mod_mime.c>' . PE;
  $tpl .= '  AddCharset utf-8 .json .atom .rss .xml .css .js' . PE;
  $tpl .= '</IfModule>' . PE . PE;
}

Как в цикле foreach определить первый и последний элемент
{foreach name=foo from=$array}
{if $smarty.foreach.foo.first} этот первый {/if}
 
{$smarty.foreach.foo|@debug_print_var}
 
{if $smarty.foreach.foo.last}  этот последний {/if}
{/foreach}

Передача параметров вызываемому шаблону
{include file='navigator.tpl' params=$params}
В шаблоне navigator.tpl будет доступна переменная $params с переданным значением.


Включение шаблона можно перенаправить в переменную
{include file='partials/nav.tpl' params=$params assign=nav} {$nav}.

Случайное число (random)
{math equation='rand(10,100)'}

{math equation="(( x + y ) / z )" x=2 y=10 z=2}
{math equation="x + y" x=4.4444 y=5.0000 format="%.2f"}
{math equation="height * width / division"
      height=$row_height
      width=$row_width
      division=$div}

<header class="uk-background-fixed uk-background-center-center uk-background-cover" style="background-image: url({$baseurl}/cover.jpg)">
  <div class="uk-overlay-cover uk-overlay-default" style="height:136px">
    <div class="uk-inline uk-width-1-1">

      <div class="uk-position-top uk-container uk-container-large">
        {navigation id=4 tpl='shop/shop-top-pc.tpl'}
        {* <hr class="uk-margin-remove" style="border-color:#0000001a"> *}
        {navigation id=4 tpl='shop/shop-header-mob.tpl'}
        {navigation id=4 tpl='shop/shop-header-pc.tpl'}
        {* <hr class="uk-margin-remove" style="border-color:#0000001a">   *}
        {navigation id=6 tpl='shop/shop-horizontal-pc.tpl'}
      </div>

    </div>
  </div>
</header>

  $('.colorbox, .colorbox-sm').colorbox({
    height: '90%',
    width: '100%',
    iframe: true
    });
  {* // Функция ресайза ColorBox *}
  var resizeTimer;
  function resizeColorBox()
  {
    if (resizeTimer) clearTimeout(resizeTimer);
    resizeTimer = setTimeout(function() {
              if (jQuery('#cboxOverlay').is(':visible')) {
                        jQuery.colorbox.resize({ width:'100%', height:'90%' })
              }
    }, 200);
  }
  {* // Ресайз при изменении размера окна браузера и
  // изменении ориентации мобильного устроиства *}
  jQuery(window).resize(resizeColorBox);
  window.addEventListener("orientationchange", resizeColorBox, false);

      {* IMAGE start_topseller.tpl *}
        <a href="{$p.ProdLink}{if isset($smarty.request.blanc) && $smarty.request.blanc == 1}&amp;blanc=1{/if}" class="uk-cover-container uk-height-1-1">
          <img src="{$p.Bild_Mittel}" alt="{$p.Titel|sanitize}" uk-cover>
        </a>

    {* ВЫВОДИМ НА СТРАНИЦЕ ТОВАРА *}
    {if strpos($smarty.server.REQUEST_URI,"showproduct&") !== false}
прод
      {include file="$incpath/other/breadcrumb.tpl"}
      {$content}

    {* ВЫВОДИМ НА СТРАНИЦЕ КАТЕГОРИИ *}
    {elseif strpos($smarty.server.REQUEST_URI,"showproducts") !== false}
кат
      {include file="$incpath/other/breadcrumb.tpl"}
      {$content}

    {* ВЫВОДИМ НА  *}
    {elseif strpos($smarty.server.REQUEST_URI,"&") !== false}
ук
      {include file="$incpath/other/breadcrumb.tpl"}
      {$content}

    {* ВЫВОДИМ НА ГЛАВНОЙ И ОСТАЛЬНЫХ СТРАНИЦАХ *}
    {else}
      {$content}
    {/if}

<div data-uk-scrollspy="cls: uk-animation-slide-bottom-small;delay:500">
</div>

  {* кнопка поиск *}
  {if get_active('shop')}
<a href="index.php?exts=1&amp;s=1&amp;area={$area}&amp;p=shop&amp;action=showproducts">
  {else}
  <a href="index.php?q=empty&amp;where=all&amp;p=search">
  {/if}
  <i data-uk-icon="search" data-uk-tooltip title="{#Search#}"></i>
</a>

{* меню выбора городов *}
{include file="$incpath/navi/menu-city.tpl"}

{* вызов оверлея callback *}
<a class="uk-navbar-item" data-uk-toggle="target: .overlay-callback" href="#callback" data-uk-tooltip="Заказать обратный звонок">
  <i data-uk-icon="icon:phone; ratio: 1.2"></i> {$settings.Telefon}
</a>

{* overlay callback *}
<div class="uk-navbar-left uk-flex-1 uk-background-default overlay-callback" hidden>
  <div class="uk-navbar-item uk-width-expand">
    {contact id=2 tpl='callback.tpl'}
    <a class="uk-navbar-toggle" data-uk-icon="icon:close; ratio: 1.2" data-uk-toggle="target:.overlay-callback;" href="#"></a>
  </div>
</div>

{* overlay search *}
<div class="uk-navbar-left uk-flex-1 uk-background-default overlay-search" hidden>
  {include file="$incpath/shop/shop_search_menuext.tpl"}
  <a class="uk-navbar-item uk-navbar-toggle" data-uk-icon="icon:close; ratio: 2" data-uk-toggle="target:.overlay-search" href="#"></a>
</div> 

{* показать на карте *}
<a data-caption="Карта" data-type="iframe" href="index.php?p=content&id=3&name=blank&area=1" class="uk-navbar-item" data-uk-icon="icon:fa-map-marker; ratio:1.2" data-uk-tooltip="Показать на карте"></a> 

  {* смена языка *}
  {if !empty($langchooser)}
      {$langchooser}
  {/if}

  {* выбор валюты *}
  {$curreny_selector}

  {* навигация пк*}
  {if !empty($SiteNavigation)}
  <ul class="uk-navbar-nav uk-text-bold">
  {foreach from=$SiteNavigation item=navi}
  {if empty($navi->sub_navi)}
    <li class="{if !empty($navi->active) || $navi->document == $document} uk-active{/if}">
      <a href="{$navi->document|escape:'html'}" target="{$navi->target|default:'_self'}">
        {* <i class="{$navi->AltTitle|sanitize}" aria-hidden="true"></i> *}
        {$navi->title|sanitize}<br>
        {$navi->AltTitle|sanitize}
      </a>
    </li>
  {else}
    <li class="{if !empty($navi->active) || $navi->document == $document} uk-active{/if}">
      <a href="{$navi->document|escape:'html'}">
        {* <i class="{$navi->AltTitle|sanitize}" aria-hidden="true"></i> *}
        {$navi->title|sanitize}<br>
        {$navi->AltTitle|sanitize}
        <span class="uk-margin-small-left" data-uk-icon="chevron-down"></span>
      </a>
      <div class="uk-margin-remove uk-padding-remove" uk-dropdown="animation: uk-animation-slide-top-small">
        <ul class="uk-nav uk-navbar-dropdown-nav">
        {foreach from=$navi->sub_navi item=sub_navi}
          <li class="{if !empty($sub_navi->active) || $sub_navi->document == $document} uk-active{/if}">
            <a href="{$sub_navi->document|escape:'html'}" target="{$sub_navi->target|default:'_self'}">
              {* <i class="{$sub_navi->AltTitle|sanitize}" aria-hidden="true"></i> *}
              {$sub_navi->title|sanitize}<br>
              {$sub_navi->AltTitle|sanitize}
            </a>
          </li>
        {/foreach}
        </ul>
      </div>
    </li>
  {/if}
  {/foreach}
  </ul>
  {/if}


  {style file="{$csspath}/variables.css" position='head' priority='900'}
{style file="{$csspath}/mixin.css" position='head' priority='900'}
{style file="{$csspath}/base.css" position='head' priority='900'}

{style file="{$csspath}/link.css" position='head' priority='900'}
{style file="{$csspath}/heading.css" position='head' priority='900'}
{style file="{$csspath}/divider.css" position='head' priority='900'}
{style file="{$csspath}/list.css" position='head' priority='900'}
{* {style file="{$csspath}/description-list.css" position='head' priority='900'} *}
{* {style file="{$csspath}/table.css" position='head' priority='900'} *}
{style file="{$csspath}/icon.css" position='head' priority='900'}
{style file="{$csspath}/form-range.css" position='head' priority='900'}
{style file="{$csspath}/form.css" position='head' priority='900'}
{style file="{$csspath}/button.css" position='head' priority='900'}

{style file="{$csspath}/section.css" position='head' priority='900'}
{style file="{$csspath}/container.css" position='head' priority='900'}
{style file="{$csspath}/grid.css" position='head' priority='900'}
{style file="{$csspath}/tile.css" position='head' priority='900'}
{style file="{$csspath}/card.css" position='head' priority='900'}

{style file="{$csspath}/close.css" position='head' priority='900'}
{style file="{$csspath}/spinner.css" position='head' priority='900'}
{style file="{$csspath}/totop.css" position='head' priority='900'}
{* {style file="{$csspath}/marker.css" position='head' priority='900'} *}
{style file="{$csspath}/alert.css" position='head' priority='900'}
{style file="{$csspath}/badge.css" position='head' priority='900'}
{style file="{$csspath}/label.css" position='head' priority='900'}
{style file="{$csspath}/overlay.css" position='head' priority='900'}
{* {style file="{$csspath}/article.css" position='head' priority='900'} *}
{* {style file="{$csspath}/comment.css" position='head' priority='900'} *}
{style file="{$csspath}/search.css" position='head' priority='900'}

{style file="{$csspath}/nav.css" position='head' priority='900'}
{style file="{$csspath}/navbar.css" position='head' priority='900'}
{style file="{$csspath}/subnav.css" position='head' priority='900'}
{style file="{$csspath}/breadcrumb.css" position='head' priority='900'}
{* {style file="{$csspath}/pagination.css" position='head' priority='900'} *}
{style file="{$csspath}/tab.css" position='head' priority='900'}
{* {style file="{$csspath}/slidenav.css" position='head' priority='900'} *}
{* {style file="{$csspath}/dotnav.css" position='head' priority='900'} *}
{* {style file="{$csspath}/thumbnav.css" position='head' priority='900'} *}
{* {style file="{$csspath}/accordion.css" position='head' priority='900'} *}
{style file="{$csspath}/drop.css" position='head' priority='900'}
{style file="{$csspath}/dropdown.css" position='head' priority='900'}

{* {style file="{$csspath}/modal.css" position='head' priority='900'} *}
{style file="{$csspath}/lightbox.css" position='head' priority='900'}
{* {style file="{$csspath}/slideshow.css" position='head' priority='900'} *}
{* {style file="{$csspath}/slider.css" position='head' priority='900'} *}
{style file="{$csspath}/sticky.css" position='head' priority='900'}
{style file="{$csspath}/offcanvas.css" position='head' priority='900'}
{style file="{$csspath}/switcher.css" position='head' priority='900'}
{* {style file="{$csspath}/leader.css" position='head' priority='900'} *}
{* {style file="{$csspath}/iconnav.css" position='head' priority='900'} *}
{* {style file="{$csspath}/notification.css" position='head' priority='900'} *}
{style file="{$csspath}/tooltip.css" position='head' priority='900'}
{* {style file="{$csspath}/placeholder.css" position='head' priority='900'} *}
{* {style file="{$csspath}/progress.css" position='head' priority='900'} *}
{* {style file="{$csspath}/sortable.css" position='head' priority='900'} *}
{* {style file="{$csspath}/countdown.css" position='head' priority='900'} *}

{style file="{$csspath}/animation.css" position='head' priority='900'}
{style file="{$csspath}/width.css" position='head' priority='900'}
{style file="{$csspath}/height.css" position='head' priority='900'}
{style file="{$csspath}/text.css" position='head' priority='900'}
{style file="{$csspath}/column.css" position='head' priority='900'}
{style file="{$csspath}/cover.css" position='head' priority='900'}
{style file="{$csspath}/background.css" position='head' priority='900'}
{style file="{$csspath}/align.css" position='head' priority='900'}
{style file="{$csspath}/svg.css" position='head' priority='900'}
{style file="{$csspath}/utility.css" position='head' priority='900'}
{style file="{$csspath}/flex.css" position='head' priority='900'}
{style file="{$csspath}/margin.css" position='head' priority='900'}
{style file="{$csspath}/padding.css" position='head' priority='900'}
{style file="{$csspath}/position.css" position='head' priority='900'}
{style file="{$csspath}/transition.css" position='head' priority='900'}
{style file="{$csspath}/visibility.css" position='head' priority='900'}
{* {style file="{$csspath}/inverse.css" position='head' priority='900'} *}
{* {style file="{$csspath}/print.css" position='head' priority='900'} *}
