{* <header class="uk-background-fixed uk-background-center-center uk-background-cover" data-src="{$baseurl}/cover.jpg" data-uk-img>
  <div class="uk-overlay-cover uk-overlay-default padding-small-bottom"> *}
    {* <div class="uk-inline uk-height-medium uk-width-1-1"> *}
      {* MOB *}
      {* {navigation id=6 tpl='shop/shop-horizontal-mob.tpl'} *}
      {navigation id=3 tpl='shop/shop-header-mob.tpl'}
      {* {navigation id=4 tpl='shop/shop-menuline-mob.tpl'} *}

      {* PC *}
      {navigation id=4 tpl='shop/shop-topbar-pc.tpl'}
      {navigation id=3 tpl='shop/shop-header-pc.tpl'}
      {* {navigation id=4 tpl='shop/shop-menuline-pc.tpl'} *}
    {* </div> *}
   {* </div> *}
{* </header> *}