{if isset($AktiveLink) && $AktiveLink == 1}
    {if $smarty.request.p == 'showforums' || $smarty.request.p == 'showforum' || $smarty.request.p == 'showtopic' || $smarty.request.p == 'forum' || $smarty.request.p == 'forums' || $smarty.request.p == 'members' || $smarty.request.p == 'newpost' || $smarty.request.p == 'pn' || $smarty.request.p == 'addpost' || $smarty.request.p == 'user'}
        <div class="box-content">
          <div class="h3">{#Reklama#}</div>
          {$Sape_links}
          {$Linkfeed_links}
          {$setlinks_links}
          {$mainlink_links}
          {$trustlink_links}
        </div>
    {else}
        <div class="wrapper panel">
          <div class="panel-head">{#Bookmarks#}</div>
          <div class="panel-main">
            {$Sape_links}
            {$Linkfeed_links}
            {$setlinks_links}
            {$mainlink_links}
            {$trustlink_links}
          </div>
        </div>
    {/if}
{/if}
