<div id="vk_community_messages"></div>
<script type="text/javascript">
VK.Widgets.CommunityMessages("vk_community_messages", {$settings.Fax}, { expandTimeout: "240000",disableButtonTooltip: "1" });
</script>