<div class="d-flex flex-wrap justify-content-center">
  <div class="p-2">{$cal_0}</div>
  <div class="p-2">{$cal_1}</div>
  <div class="p-2">{$cal_2}</div>

  <div class="p-2">{$cal_3}</div>
  <div class="p-2">{$cal_4}</div>
  <div class="p-2">{$cal_5}</div>

  <div class="p-2">{$cal_6}</div>
  <div class="p-2">{$cal_7}</div>
  <div class="p-2">{$cal_8}</div>

  <div class="p-2">{$cal_9}</div>
  <div class="p-2">{$cal_10}</div>
  <div class="p-2">{$cal_11}</div>
</div>
