<script>
<!-- //

{* TODO {if $settings.analytics == 1 && !empty($settings.yametrika_code)} *}

    (function (d, w, c) {
        (w[c] = w[c] || []).push(function() {
            try {
                w.yaCounter49485754 = new Ya.Metrika2({
                    id:49485754,
                    clickmap:true,
                    trackLinks:true,
                    accurateTrackBounce:true
                });
            } catch(e) { }
        });

        var n = d.getElementsByTagName("script")[0],
            s = d.createElement("script"),
            f = function () { n.parentNode.insertBefore(s, n); };
        s.type = "text/javascript";
        s.async = true;
        s.src = "https://mc.yandex.ru/metrika/tag.js";

        if (w.opera == "[object Opera]") {
            d.addEventListener("DOMContentLoaded", f, false);
        } else { f(); }
    })(document, window, "yandex_metrika_callbacks2");
{* {/if} *}

{if $settings.analytics == 1 && !empty($settings.analytics_code)}
    (function(i,s,o,g,r,a,m) { i['GoogleAnalyticsObject']=r;i[r]=i[r]||function() {
    (i[r].q=i[r].q||[]).push(arguments) },i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', '{$settings.analytics_code}', '{$smarty.server.HTTP_HOST|replace: 'www.': ''}');
    ga('send', 'pageview');
{/if}

//-->
</script>

<noscript><div><img src="https://mc.yandex.ru/watch/49485754" style="position:absolute; left:-9999px;" alt="" /></div></noscript>