@charset "UTF-8";

.forum table {
    border-collapse: separate;
    border-spacing: 1px;
}
.forum table td {
    padding: 5px;
}
#contents_forum {
    background: #fff;
    margin-top: 5px;
    min-height: 520px;
    padding-top: 10px;
}
.forum_content a:link, .forum_content a:visited {
    color: #007bff;
    text-decoration: none;
}
.forum_content a:hover {
    color: #000;
    text-decoration: none;
}
a.menu_link:link, a.menu_link:visited {
    color: #007bff;
    display: block;
    padding: 3px;
    text-decoration: none;
}
a.menu_link:hover {
    background: #ecf2f6;
    color: #000;
    display: block;
    padding: 3px;
    text-decoration: none;
}
.forum_infobox {
    background: #ecf2f6;
    border-radius: 5px;
    font-size: 11px;
    padding: 5px;
    text-align: center;
}
.forum_infobox a:link, .forum_infobox a:visited {
    color: #000;
}
a.menu_link:link, a.menu_link:visited {
    color: #000;
    display: block;
    padding: 3px;
    text-decoration: none;
}
a.menu_link:hover {
    background: #e8e8e8;
    color: #000;
    display: block;
    padding: 3px;
    text-decoration: none;
}
.forum_post_header_avatar {
    background: #ecf2f6;
    border-bottom: 1px solid #cecece;
    padding: 5px;
    width: 50px;
}
.forum_post_header_usernameinf {
    background: #ecf2f6;
    border-bottom: 1px solid #cec4c0;
    padding: 5px;
}
.forum_post_header_userinfright {
    background: #ecf2f6;
    border-bottom: 1px solid #cec4c0;
    font-size: 11px;
    padding: 5px;
    text-align: right;
}
.forum_post_posting {
    border-bottom: 1px solid #cec4c0;
    padding: 5px;
}
.forum_topheader_cell a:link, .forum_topheader_cell a:visited {
    color: #000;
    text-decoration: underline;
}
.forum_topheader_cell a:hover {
    color: #000;
    text-decoration: none;
}
a.forum_head:link, a.forum_head:visited {
    color: #000;
}
a.forum_head:hover {
    color: #000;
    text-decoration: none;
}
.forums_highlight {
    background: #FFFFCC;
}
.row_forum_first {
    background-color: #fff;
    border-bottom: 1px solid #fff;
    font-weight: bold;
    padding: 3px;
    padding-right: 4px;
}
.row_forum_second {
    background-color: #ecf2f6;
    border-bottom: 1px solid #fff;
    color: #666666;
    padding: 3px;
}
.forum_form_left {
    background: #ecf2f6;
}
.forum_form_right {
    background: #f9f9f9;
}
.forum_stats_left {
    background: #ecf2f6;
    text-align: center;
    width: 30px;
}
.forum_stats_right {
    background: #fff;
}
.lastthreads_first {
    background-color: #ecf2f6;
}
.lastthreads_second {
    background-color: #ecf2f6;
}
a.forum_links:link, a.forum_links:visited {
    font-weight: bold;
}
a.forum_links:hover {
    font-weight: bold;
}
a.forum_head:hover {
    text-decoration: none;
}
a.forum_links_small:link, a.forum_links_small:visited {
    font-size: 96%;
}
a.forum_links_small:hover {
    font-size: 96%;
}
a.forum_links_smaller:link, a.forum_links_smaller:visited {
    font-size: 95%;
}
a.forum_links_navi:link, a.forum_links_navi:visited {
    font-weight: bold;
}
a.forum_links_navi:hover {
    font-weight: bold;
}
a.forum_links_cat:link, a.forum_links_cat:visited {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
a.forum_links_cat:hover {
    color: #fff;
    font-weight: bold;
}
.forum_topicheader {
    color: #fff;
}
a.forum_topicheader:link, a.forum_topicheader:visited {
    color: #fff;
    font-weight: bold;
    text-decoration: underline;
}
a.forum_topicheader:hover {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
}
.f_info_comment {
    font-size: 96%;
}
.forum_topictile {
    font-style: italic;
}
.forum_container {
    border: 1px solid #fff;
    margin-bottom: 5px;
}
.forum_posts {
    margin-bottom: 10px;
}
.forum_post_header {
    background: #007bff;
    border-radius: 5px 5px 0 0;
    color: #fff;
    font-size: 110%;
    margin-bottom: 0px;
    padding: 7px;
}
.forum_post_first {
    background-color: #ecf2f6;
    width: 170px;
}
.forum_post_second {
    background-color: #ffffff;
    border-bottom: 1px solid #ecf2f6;
}
.forum_topic_topheader {
    background-color: #F7F7F7;
    padding: 10px;
}
.forum_topheader {
    border-bottom: 0px solid #F7F7F7;
    padding: 5px;
}
.forum_topheader_cell {
    background: #ecf2f6;
    border-right: 1px solid #fff;
    padding: 5px;
}
.forum_post_footer {
    background-color: #ecf2f6;
}
.forum_header {
    background: #ecf2f6;
    padding: 5px;
}
.forum_info_icon {
    background-color: #ecf2f6;
    padding: 2px;
    text-align: center;
    width: 30px;
}
.forum_info_main {
    background-color: #fff;
    padding: 4px;
}
.forum_info_meta {
    background-color: #ecf2f6;
    padding: 2px;
}
.forum_toggle {
    background: #007bff;
    color: #fff;
    padding: 6px;
    width: 30px;
}
.forum_frame {
    background-color: #fff;
    margin-bottom: 2px;
}
.forum_navi {
    padding: 3px;
}
.forum_header_bolder {
    background: #007bff;
    border-top: 1px solid #fff;
    color: #fff;
    margin-bottom: 0px;
    padding: 10px 20px;
}
.forum_header_bolder a:link, .forum_header_bolder a:visited {
    color: #fff;
    font-weight: bold;
}
.forum_tableborder {
    background-color: #ccbdb7;
}
.user_sig {
    border-top: 1px solid #ecf2f6;
    padding: 4px;
}
.row_small_first {
    background: #fff;
}
.row_small_second {
    background: #ecf2f6;
}
.forums_sticky_inf {
    padding: 5px;
}
.forums_announce_inf {
    padding: 5px;
}
.user_bar {
    background-color: #fafafa;
    border: 1px solid #d8d8d8;
    margin-top: 1px;
    padding: 2px;
}
.user_avatar {
    padding: 4px;
    text-align: center;
}