@charset "UTF-8";

/* uikit-custom.css */

.uk-subnav > a{text-transform:none}
.uk-padding-small-top{padding-top:.5rem}

.max-width-50vw{max-width:50vw}
.max-width-66vw{max-width:66vw}

.uk-grid-divider > :not(.uk-first-column)::before{left:0}
.uk-divider-vertical{height:100%}
.uk-navbar-nav > .uk-divider-vertical{height:2.4em}
* + [class*="uk-divider"]{margin: 0}

/* Оформление верхнего меню */
.uk-navbar-container {
  transition: background-color .2s ease
}

.uk-navbar-container:not(.uk-navbar-transparent),
.uk-background-default {
  background: var(--gray-vk)
}

.overscroll {
  height: 2.8em;
  overflow: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.overscroll:hover,
.uk-breadcrumb:hover{
  overflow-y: hidden;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -moz-overflow-scrolling: touch;
  -ms-overflow-scrolling: touch;
  -o-overflow-scrolling: touch;
  overflow-scrolling: touch;
}

.uk-navbar-nav::-webkit-scrollbar,
.uk-breadcrumb::-webkit-scrollbar {
  display: none;
}

.uk-navbar-nav> :nth-child(n+2):not(.uk-first-column)::before {
  margin: 0 .5em;
}

/* боковые панели */
.uk-open>.uk-offcanvas-bar,
.uk-offcanvas-bar-animation {
  transition: transform .3s cubic-bezier(.86, 0, .07, 1)
}

/* GRIDNAV главное меню */
.gridnav .uk-open {
  left: 0 !important
}

.gridnav .uk-navbar-dropdown {
  width: 100%;
  top: unset !important;
  padding: 0
}

.uk-offcanvas-bar .gridnav .uk-navbar-nav>li>a.uk-open {
  color: var(--gray);
  background: #FFD391
}

.uk-offcanvas-bar .uk-navbar-nav>li>a {
  text-align: center;
  color: var(--gray);
  background: var(--white);
  letter-spacing: 1px;
  font-size: .7rem;
  font-weight: bold;
  border-radius: .5em;
  min-height: 3.3rem;
  margin: .15rem;
  padding: .5rem 0;
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
}

.uk-offcanvas-bar .uk-navbar-nav>li>a:hover,
.uk-offcanvas-bar .uk-navbar-nav>li:hover>a {
  color: var(--gray);
  background: #FFD391
}

.uk-nav>li>a {
  padding: .5rem
}

[class*=uk-drop-bottom] {
  margin-top: 0
}

/* LIGHTBOX модальные окна */
.uk-lightbox {
  background: var(--white)
}

.uk-lightbox-iframe {
  width: 100%;
  height: 100%
}
.uk-lightbox .uk-position-top{left:unset}
.uk-lightbox-toolbar{width:2em}
.uk-lightbox-toolbar.uk-transition-slide-top {
  transform: unset
}

/* .uk-lightbox,
.uk-offcanvas-overlay::before
{background: url(../../images/page/layer_bg_black.png);filter:none} */

.uk-navbar-item,
.uk-navbar-nav>li>a,
.uk-navbar-toggle {
  min-height: 3.125em
}

.uk-navbar-dropdown-nav>li>a:focus,
.uk-navbar-dropdown-nav>li>a:hover {
  color: #555;
  background: #f0f2f5
}

.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-default>li>a:hover {
  background: #2A2A2E
}

.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a {
  padding-left: .5rem
}

.uk-offcanvas-close {
  top: 0;
  right: 0;
  padding: .5rem;
  position: relative
}

/* .uk-inline-clip .uk-overlay-primary {color:#fff;background: url(../../images/page/album_top_shadow.png);font-size:14px} */

.uk-padding-small {
  padding: .6rem
}

/* CARD КАРТОЧКИ */
.uk-card-small.uk-card-body,
.uk-card-small .uk-card-body,
.uk-navbar-nav>li>a {
  padding: .5em
}

/* BREADCRUMB крошки*/
.uk-breadcrumb {
  height: 1.5em;
  padding-bottom: 1em;
  overflow:hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
  flex-wrap: nowrap;
}

.uk-breadcrumb> :nth-child(n+2):not(.uk-first-column)::before {
  margin: 0 .5em;
}


h1 {
  font-size: 1.2rem
}

.uk-form-blank {
  border-bottom: .1rem solid #ddd;
}

/* THUMB SLIDES */
.uk-thumbnav .uk-cover-container {
  width: 4rem;
  height: 4rem;
  border-radius: .5rem
}

/* BUTTONS */
.uk-button-success {
  background-color: var(--success);
  color: #fff;
  border: 1px solid transparent;
}

.uk-box-shadow-small {
  box-shadow: 0 .2rem .1rem rgba(0, 0, 0, .08)
}

/* site.css переменные */
:root {
  --blue: #2a5885;
  --blue-light: #d8e9f2;
  --blue-vk: #2a5885;
  --blue-vk-button: #5181b8;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #FD8949;
  --yellow: #ffd086;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #fff;
  --gray: #31393f;
  --gray-vk: #F0F5F9;
  --gray-vk-dark: #edeef0;
  --gray-vk-lite: #f5f7fa;
  --gray-dark: #343a40;
  --gray-light: #bebebe;
  --transparent-dark: rgba(0, 0, 0, 0.2);
  --primary: #007bff;
  --secondary: #6c757d;
  --success: var(--green);
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: var(--red);
  --link: var(--blue-vk);
  --link-hover: #285473;
  --bg-link-hover: var(--gray-vk);
  --font-family-main: -apple-system, BlinkMacSystemFont, "Ubuntu", "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Ubuntu mono", "Liberation Mono", "Courier New", monospace;
  /* --font-size: calc( 1rem + (40 - 18) * ( (100vw - 400px) / ( 1000 - 400))); */
  --font-size: 1rem;
  --margin-small: 0.5em;
}

/* переменные адаптивности*/
@media all and (max-width: 37.5em) {
  :root {
    --font-size: 0.85rem;
  }
}

/*аним.плавной загрузки */
#preloader {
  overflow: hidden;
  background: var(--gray-vk);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999999;
}

#anim_floating {
  opacity: 0.5;
  left: calc(50% - 2.5em);
  position: relative;
  top: calc(50% - 2.5em);
  z-index: 9;
  animation-name: floating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes floating {
  from {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 1em);
  }

  to {
    transform: translate(0, -0);
  }
}

:focus {
  outline: none
}

select:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000
}

a,
.uk-link,
.uk-offcanvas-bar a,
.uk-offcanvas-bar .uk-nav-primary>li>a,
.uk-offcanvas-bar .uk-close {
  color: var(--link);
}

a:hover,
.uk-link:hover,
.uk-offcanvas-bar a:hover,
.uk-offcanvas-bar .uk-close:hover {
  color: var(--link-hover);
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

.uk-nav a:hover {
  background: var(--gray-vk-lite);
}

hr,
.c-gray,
.c-gray a {
  color: var(--gray);
}

body {
  background: var(--gray-vk);
  font-size: var(--font-size);
}

small {
  font-size: 65%;
}

.bg-transparent {
  background: transparent;
}

.bg-white {
  background: var(--white);
}

.bg-gray,
.uk-background-secondary {
  background: var(--gray);
}

.bg-gray-vk {
  background: var(--gray-vk);
}
.bg-gray-dark{background: var(--gray-vk-dark)}

.c-success {
  color: var(--success);
}

.c-danger {
  color: var(--danger);
}

a.nav_subs:hover {
  background: #ffd391;
}

.fixed-bottom {
  bottom: 0;
  top: initial !important;
}

.shadow-top {
  box-shadow: 0 -2px 1px rgba(0, 0, 0, 0.16);
}

.card-vk {
  box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;
  border-radius: 0.2em;
}

.h-100vh {
  height: 100vh;
}

.h-50vh {
  height: 50vh;
}

/*FOOTER*/
footer {
  background: var(--bg-footer);
}

.zindex-0 {
  z-index: 0;
}

.zindex-1 {
  z-index: 1;
}

.zindex-2 {
  z-index: 2;
}

.zindex-3 {
  z-index: 3;
}

.zindex-4 {
  z-index: 4;
}

.zindex-5 {
  z-index: 5;
}

.zindex-1000 {
  z-index: 1000;
}

.padding-small-bottom {
  padding-bottom: 0.5em;
}

/* Оформление кнопки наверх */

.in_top {
  position: fixed;
  left: 0;
  top: 0;
  width: 1rem;
  height: 100vh;
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: pointer;
  display: none;
  z-index: 3;
}

.in_top:hover {
  background-color: var(--yellow);
  opacity: 1;
  filter: alpha(opacity=100);
}

.in_top span {
  bottom: 1rem;
  display: block;
  width: 1rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.5);
  font-weight: bold;
  font-size: 1rem;
  position: absolute;
}

/* Оформление автокомплита */

.ac_results {
  background-color: #fff;
  border: 0.0625rem solid #007bff;
  border-radius: 0.1875rem;
  display: none;
  list-style: none;
  margin: 0;
  max-height: 15rem;
  overflow: auto;
  padding: 0;
  position: absolute;
  width: 20rem;
  z-index: 10002;
}

.ac_results li {
  padding: 0.5rem;
  white-space: nowrap;
}

.ac_over {
  background: #e0f1fc;
  cursor: pointer;
}

.ac_match {
  color: #dc3545;
  text-decoration: underline;
}

.status {
  background: #fff;
  border: 0.0625rem solid #007bff;
  border-radius: 0.1875rem;
  padding: 0.1875rem;
  position: absolute;
  z-index: 1000;
}

/* Оформление рейтинга */
.rating-star {
  display: flex;
}
.rating-star i {
  color: var(--orange);
  cursor: pointer;
  font-size: 1.5rem;
}
@media (max-width: 768px) {
  .rating-star i {
    font-size: 1rem;
  }
}

/* скошенные углы для секций */
#example-1 .has-angle {
  position: relative;
}
#example-1 .has-angle::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(255,99,71)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,100'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: -100px;
}

#example-2 .has-angle {
  position: relative;
}
#example-2 .has-angle::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(154,205,50)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,100 100,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: -100px;
}

#example-3 .has-angle {
  position: relative;
}
#example-3 .has-angle::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(0,191,255)' fill-opacity='1'%3E%3Cpolygon points='0,100 100,100 100,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

#example-4 .has-angle {
  position: relative;
}
#example-4 .has-angle::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(138,43,226)' fill-opacity='1'%3E%3Cpolygon points='0,100 100,100 0,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  bottom: 0;
}

#example-5 .has-angle {
  position: relative;
}
#example-5 .has-angle::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(218,112,214)' fill-opacity='1'%3E%3Cpolygon points='0,100 100,100 0,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  top: -100px;
}

#example-6 .has-angle {
  position: relative;
}
#example-6 .has-angle::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(240,230,140)' fill-opacity='1'%3E%3Cpolygon points='0,100 100,100 100,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  top: -100px;
}

#example-7 .has-angle {
  position: relative;
}
#example-7 .has-angle::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(0,255,0)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,100 100,0'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  top: 0;
}

#example-8 .has-angle {
  position: relative;
}
#example-8 .has-angle::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' preserveAspectRatio='none' viewBox='0 0 100 100' fill='rgb(255,0,255)' fill-opacity='1'%3E%3Cpolygon points='0,0 100,0 0,100'%3E%3C/polygon%3E%3C/svg%3E");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  content: '';
  height: 100px;
  left: 0;
  position: absolute;
  right: 0;
  width: 100%;
  z-index: 1;
  top: 0;
}

.example-section {
  margin: 100px 0;
}

.example-container {
  width: 500px;
  max-width: 100%;
  margin: 0 auto;
}

.example-snippet, .example-snippet-padded {
  text-align: center;
  margin: 0 auto 50px;
  font-size: 18px;
  opacity: 0;
}

.example-snippet-padded {
  padding-bottom: 100px;
}

.has-angle {
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.4);
  height: 200px;
  background-color: #333;
  margin-bottom: 200px;
}

@media (min-width: 550px) {
  .example-snippet, .example-snippet-padded {
    opacity: 1;
    font-size: 13px;
  }
}
@media (min-width: 800px) {
  .example-snippet, .example-snippet-padded {
    opacity: 1;
    font-size: 18px;
  }
}