@charset "UTF-8";

/* Оформление верхнего меню */
.uk-navbar-container{transition:background-color .2s ease}
.uk-navbar-container:not(.uk-navbar-transparent),
.uk-background-default{background:var(--gray-vk)}

/* боковые панели */
.uk-open > .uk-offcanvas-bar,
.uk-offcanvas-bar-animation{transition:transform .3s cubic-bezier(.86,0,.07,1)}
.uk-offcanvas-bar{color: var(--gray)}

/* GRIDNAV главное меню */
.gridnav .uk-open {left:0!important}
.gridnav .uk-navbar-dropdown {width:100%; top:unset!important; padding:0}
.uk-offcanvas-bar .gridnav .uk-navbar-nav > li > a.uk-open{color:var(--gray);background: #FFD391}
.uk-offcanvas-bar .uk-navbar-nav > li > a{text-align:center; color:var(--gray); background:var(--white);letter-spacing:1px; font-size:.7rem; font-weight:bold; border-radius:.5em; min-height:3.3rem; margin:.15rem; padding:.5rem 0;box-shadow: 0 1px 0 0 #d7d8db, 0 0 0 1px #e3e4e8;}
.uk-offcanvas-bar .uk-navbar-nav > li > a:hover, .uk-offcanvas-bar .uk-navbar-nav > li:hover > a{color:var(--gray);background:#FFD391}

.uk-nav > li > a {padding:.5rem}

[class*=uk-drop-bottom] {margin-top:0}

/* LIGHTBOX модальные окна */
.uk-lightbox{background:var(--white)}
.uk-lightbox-iframe {width:100%;height:90%}
.uk-lightbox-toolbar.uk-transition-slide-top{transform: unset}
/* .uk-lightbox,
.uk-offcanvas-overlay::before
{background: url(../../images/page/layer_bg_black.png);filter:none} */

.uk-navbar-item, .uk-navbar-nav > li > a, .uk-navbar-toggle{min-height:50px}

.uk-navbar-dropdown-nav > li > a:focus,
.uk-navbar-dropdown-nav > li > a:hover{color:#555;background:#f0f2f5}

.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a:hover,
.uk-offcanvas-bar .uk-nav-default > li > a:hover{background:#2A2A2E}
.uk-offcanvas-bar .uk-nav-default .uk-nav-sub a{padding-left:.5rem}

.uk-offcanvas-close{top:0;right:0;padding:.5rem;position:relative}

/* .uk-inline-clip .uk-overlay-primary {color:#fff;background: url(../../images/page/album_top_shadow.png);font-size:14px} */

.uk-padding-small{padding:.6rem}
/* .uk-badge{padding:.5em 1em} */

/* КАРТОЧКИ */
.uk-card-small.uk-card-body, .uk-card-small .uk-card-body,.uk-navbar-nav > li > a{padding:.5em}

/* BREADCRUMB */
.uk-breadcrumb{margin:0}
.uk-breadcrumb > :nth-child(n+2):not(.uk-first-column)::before {
margin: 0 .5em;
}

h1{font-size:1.2rem}
.uk-form-blank{border-bottom:.1rem solid #ddd;}

/* THUMB SLIDES */
.uk-thumbnav .uk-cover-container{width:4rem; height:4rem; border-radius:.5rem}

/* BUTTONS */
.uk-button-success{background-color:var(--success); color:#fff; border: 1px solid transparent;}

.uk-box-shadow-small{box-shadow:0 .2rem .1rem rgba(0,0,0,.08)}