@charset "UTF-8";
body, div, td, th, select, option, .button, .button_second, textarea, input, select, li {
    font: 11px arial, verdana, helvetica, sans-serif
}
body {
    color: #000;
    padding: 0;
    margin: 0
}
img {
    border: 0;
    vertical-align: middle
}
legend {
    padding: 3px;
    border: 0px solid #c7bdb9
}
small {
    font-size: 11px;
    color: #000
}
form {
    display: inline
}
h1, h2, h3, h4 {
    margin: 10px 0 10px 0
}
h1 {
    font-size: 19px
}
h2 {
    font-size: 17px
}
h3 {
    font-size: 15px
}
h4 {
    font-size: 14px
}
textarea {
    padding: 2px
}
.tree1 {
    background: url('../images/tree1.gif') no-repeat
}
.tree2 {
    background: url('../images/tree2.gif') no-repeat
}
.tree3 {
    background: url('../images/tree3.gif') no-repeat
}
.tree4 {
    background: url('../images/tree4.gif') no-repeat
}
.error_box {
    font-size: 12px;
    padding: 8px;
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #ffc0c0;
    color: #990000;
    border-radius: 5px;
}
a:link, a:visited {
    color: #d25a0b;
    font-weight: bold;
    text-decoration: none;
    border-bottom: 0px solid #fff
}
a:hover {
    color: #000;
    text-decoration: none;
    border-bottom: 0px solid #fff
}
#mainwin {
    background-color: #f6f0f0;
    font-size: 11px;
    font-family: Arial, SunSans-Regular, Sans-Serif;
    color: #000;
    padding: 0px;
    margin: 0px
}
#blank {
    background-color: #fff;
    padding: 5px
}
#login {
    background: url('../images/bg_l.gif');
    padding: 0px;
    margin: 0px
}
.doc_link_inf {
    padding: 5px;
    border: 1px solid #c7bdb9
}
.article_spez {
    width: 400px;
    height: 100px;
    background-color: white;
    border: 1px solid #c1c1c1;
    padding: 1px
}
.input, textarea, select {
    color: #000;
    padding: 2px;
    background: #fff url('../images/input.gif') top left repeat-x;
    border: 1px solid #c7bdb9;
    border-radius: 5px;
}
input.error, input.error:focus {
    border: 1px solid #990000;
    background-color: #ff9999;
    color: #990000;
    margin-right: 5px
}
.newform {
    background-color: #ffffcc
}
.maintable {
    border: 1px solid #fff;
    border-radius: 5px;
}
.content_scroller {
    height: 400px;
    overflow: auto;
    padding: 5px;
    border: 1px solid #c7bdb9
}
.gallery_preload {
    min-height: 80px;
    background: url('../images/loading.gif') 20px 20px no-repeat
}
.subgalleries {
    color: #666
}
.subgalleries a:link, .subgalleries a:visited {
    color: #666
}
.leftinf {
    margin-left: 18px
}
fieldset {
    border: 1px solid #c7bdb9;
    margin-top: 10px;
    background-color: #f6f0f0;
    border-radius: 5px;
}
legend {
    font-weight: bold;
    font-size: 100%;
    padding: 3px;
    padding-left: 10px;
    padding-right: 10px;
    color: #000
}
.table_back {
    background-color: #fff
}
.button_save_div {
    padding: 10px;
    padding-left: 0px
}
.header {
    background: #665e58 url('../images/header-bg.gif') top left repeat-x;
    color: #fff;
    border: 1px solid #615953;
    font-weight: bold;
    padding: 7px;
    font-size: 12px;
    margin-bottom: 5px;
    border-radius: 5px;
}
.header img {
    margin-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px
}
.header a:link, .header a:visited {
    color: #fff;
    font-weight: normal
}
.sysinfos {
    background-color: #fff;
    padding: 8px;
    margin-bottom: 10px;
    margin-top: 0px;
    border: 1px solid #afa8a3;
    border-radius: 5px;
}
.header_inf, .subheaders {
    background-color: #fff;
    padding: 8px;
    border: 0px solid #c7bdb9;
    margin: 5px 0;
    font-weight: bold;
    border: 0px solid #afa8a3;
    color: #000;
    border-radius: 5px;
}
.tplbox {
    background-color: #f4ebe9;
    padding: 8px;
    border: 0px solid #c7bdb9;
    margin: 5px 0;
    font-weight: bold;
    border: 0px solid #afa8a3;
    color: #000;
    border-radius: 5px;
}
.popheaders {
    background-color: #f6f0f0;
    padding: 5px;
    border: 0px solid #c7bdb9;
    margin-bottom: 5px;
    font-weight: bold;
    border-radius: 5px;
}
.popheader {
    font-size: 17px;
    font-weight: bold;
    padding-bottom: 5px
}
.popbox {
    padding: 0px;
    border: 1px solid #fff;
    background-color: #fff
}
.popheader_sub {
    padding-bottom: 5px
}
.popwin {
    padding: 10px
}
.button {
    background-color: #d25a0b;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px;
    margin: 2px;
    border: 1px solid #d25a0b;
    border-radius: 5px;
}
.button:hover {
    background-color: #a84808;
}
.button_second {
    background-color: #665e58;
    cursor: pointer;
    color: #fff;
    font-weight: bold;
    padding: 2px 5px;
    margin: 2px;
    border: 1px solid #d25a0b;
    border-radius: 5px;
}
.button_second:hover {
    background-color: #514b46;
}
.button_login {
    background-color: #fff;
    cursor: pointer;
    color: #d25a0b;
    font-weight: bold;
    width: 80px
}
.header_main_info {
    padding: 2px;
    color: #fff;
    background-color: #d25a0b;
    border-bottom: 1px solid #e4e1df
}
.header_main_info a:link, .header_main_info a:visited {
    color: #fff
}
.header_main_info a:hover {
    color: #fc0
}
.loginborder {
    background-color: #fff
}
.loginmiddle {
    color: #fff;
    background: #d25a0b url('../images/login.png') bottom right no-repeat;
    padding: 8px
}
.left {
    min-height: 600px;
    width: 180px
}
.main {
    min-height: 600px;
    padding-top: 6px;
    padding: 6px 3px 10px 3px
}
.headers_row {
    background-color: #fff;
    color: #000;
    font-size: 12px;
    font-weight: bold;
    padding: 15px 5px 5px 5px
}
.headers {
    background-color: #d25a0b;
    color: #fff;
    font-size: 11px;
    font-weight: bold;
    border-right: 1px solid #e1630f;
    padding: 7px
}
.headers small {
    color: #fff
}
.headers a:link, .headers a:visited {
    color: #fff;
    text-decoration: underline
}
.row_left {
    background-color: #f6f0f0;
    color: #000;
    border-bottom: 1px solid #e4e1df;
    font-weight: bold;
    padding: 5px
}
.row_right {
    background-color: #f6f0f0;
    border-bottom: 1px solid #e4e1df;
    padding: 5px
}
.iframe_order {
    width: 100%;
    height: 480px;
    background-color: #fff;
    border: 0px
}
.first {
    background-color: #fff;
    padding: 3px
}
tr .second td, tr .first td {
    border-right: 1px solid #f8f8f8
}
.second {
    background-color: #f6f0f0;
    padding: 3px
}
.opened {
    border: 1px solid #c7bdb9;
    padding: 0px;
    color: #fff
}
.opened a {
    color: #fff
}
.tableborder {
}
.row_spacer {
    border-right: 1px solid #fff
}
.navi_div {
    padding: 5px;
    margin-bottom: 3px;
    border: 1px solid #fff;
    background-color: #faf4f4;
    border-radius: 5px;
}
.shop_status_wait, .shop_status_progress, .shop_status_ok, .shop_status_failed, .shop_status_oksend, .shop_status_oksendparts, .payment_0, .payment_1 {
    margin: 0 auto;
    border: 1px solid #fff;
    width: 10px;
    height: 10px;
}
.shop_status_wait, .payment_0 {
    background-color: #999999;
}
.shop_status_progress {
    background-color: #FFCC00;
}
.shop_status_ok, .payment_1 {
    background-color: #33CC00;
}
.shop_status_failed {
    background-color: #FF0000;
}
.shop_status_oksend {
    background-color: #0099FF;
}
.shop_status_oksendparts {
    background-color: #CCCCFF;
}
.shop_status_wait_text {
    color: #999999;
    font-size: 14px;
    font-weight: bold
}
.shop_status_progress_text {
    color: #FFCC00;
    font-size: 14px;
    font-weight: bold
}
.shop_status_ok_text {
    color: #33CC00;
    font-size: 14px;
    font-weight: bold
}
.shop_status_failed_text {
    color: red;
    font-size: 14px;
    font-weight: bold
}
.shop_ovall_text {
    color: #000;
    font-size: 14px;
    font-weight: bold
}
.shop_subcategs {
    border-top: 1px solid #eee
}
a.nav:link, .left a.nav:visited {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #c7bdb9;
    border-top: 0px solid #c7bdb9;
    background-color: #f3f3f3
}
a.nav:hover {
    color: #d25a0b;
    background-color: #fff
}
.left a.nav_active:link, .left a.nav_active:visited {
    color: #000;
    font-weight: bold;
    display: block;
    text-decoration: none;
    padding: 5px;
    border-bottom: 1px solid #f6f0f0;
    border-top: 0px solid #c7bdb9;
    background-color: #fff
}
.left a.nav_active:hover {
    color: #d25a0b
}
.nav_sub {
    color: #000;
    display: block;
    text-decoration: none;
    padding: 2px;
    padding-left: 30px;
    border-right: 1px solid #c7bdb9;
    background-color: #fff;
    font-weight: normal;
}
a.nav_subs:link, a.nav_subs:visited {
    margin-left: 15px;
    background-color: #fff;
    color: #000;
    display: block;
    text-decoration: none;
    font-weight: normal;
}
a.nav_subs:hover {
    margin-left: 15px;
    color: #d25a0b;
    font-weight: normal;
}
a.nav_subs_active:link, a.nav_subs_active:visited {
    margin-left: 15px;
    font-weight: bold;
    background-color: #fff;
    display: block;
    text-decoration: none;
    border: 0px;
    color: #d25a0b!important
}
a.nav_subs_active:hover {
    color: #d25a0b
}
.edit_tabs_div {
    border-bottom: 1px solid #fff;
    border-top: 1px solid #fff;
    background-color: #fff
}
.edit_tabs {
    float: left;
    border-right: 1px solid #c7bdb9;
    text-align: center;
    background-color: #fff
}
.edit_tabs a, .edit_tabs a:link, .edit_tabs a:visited {
    display: block;
    padding: 5px;
    font-weight: bold;
    color: #000;
    text-decoration: none
}
.edit_tabs a:hover, .edit_tabs a:active {
    display: block;
    font-weight: bold;
    color: #f56d14;
    text-decoration: none;
    background-color: #fff
}
.shop_selector_back {
    background-color: #fff;
    font-weight: bold;
    font-size: 110%;
    border-bottom: 0px solid #000
}
.infobox {
    border: 1px solid #d25a0b;
    background-color: #fff;
    padding: 5px
}
.mediapool_infobox {
    border: 1px solid #d25a0b;
    background-color: #fff;
    padding: 5px
}
.mediapool_selected {
    border: 1px double red;
    font-size: 14px;
    padding: 2px;
    margin-bottom: 5px;
    background-color: #fff;
    width: 200px;
}
.mediapool_leftframe {
    border: 1px solid #D4D4D4;
    overflow: hidden;
    height: 470px;
    width: 100%;
    background-color: #fff
}
.mediapool_rightframe {
    padding: 1px;
    border: 1px solid #D4D4D4;
    overflow: hidden;
    width: 400px;
    height: 470px
}
.mediapool_body {
    background-color: #eee
}
#content_popup {
    padding: 0px
}
.forum_rows, .spacer_rows {
    background-color: #f6f0f0;
    padding: 5px;
    border-bottom: 1px solid #c7bdb9
}
.toggler a, .toggler-opened a {
    color: #fff;
    text-decoration: none!important
}
.toggler {
    margin: 0px 0 5px 0;
    cursor: pointer;
    text-decoration: underline!important;
    font-weight: bold;
    line-height: 30px;
    display: block
}
.toggler-closed {
    padding-left: 10px;
    height: 27px;
    background: #fff url('../images/tab_open.gif') center right no-repeat;
    border: 1px solid #ddd
}
.toggler-closed:hover {
    color: #000;
    padding-left: 10px;
    height: 27px;
    background: #eee url('../images/tab_open.gif') center right no-repeat;
    border: solid 1px #ddd
}
.toggler-opened {
    color: #000;
    padding-left: 10px;
    height: 27px;
    background: #eee url('../images/tab_close.gif') center right no-repeat;
    border: solid 1px #ddd
}
.toggler-opened:hover {
    color: #000;
    padding-left: 10px;
    height: 27px;
    background: #fff url('../images/tab_close.gif') center right no-repeat;
    border: solid 1px #e3e3e3
}
.chart {
    font: menu;
    background-color: white;
    color: black;
    position: relative
}
.chart .legend {
    float: left;
    border: 0px solid #c7bdb9;
    background-color: white;
    padding: 5px 10px 5px 10px
}
.chart .legend ul {
    margin: 0px;
    padding: 0px 0px 0px 20px
}
.chart .legend ul li {
    list-style: square
}
.chart .legend ul li span {
    color: black
}
.glossymenu {
    margin: 5px 3px;
    padding: 0;
    width: 170px;
    border: 1px solid #f6f0f0;
    border-bottom-width: 0
}
.glossymenu a.menuitem {
    background: #fff url('../images/glossyback.gif') repeat-x top left;
    color: #fff;
    display: block;
    position: relative;
    width: auto;
    padding: 4px 0;
    padding-left: 5px;
    text-decoration: none;
    font-weight: normal;
    border: 1px solid #615953;
    margin-bottom: 1px;
    height: 16px
}
.glossymenu a.menuitem:visited, .glossymenu .menuitem:active {
    color: #fff
}
.glossymenu a.menuitem .statusicon {
    position: absolute;
    top: 5px;
    right: 5px;
    border: none
}
.glossymenu a.menuitem:hover, .glossymenu a.menuitem:active {
    background-image: url(../images/glossyback2.gif)
}
.glossymenu div.submenu {
    background-color: #fff;
    margin-bottom: 2px
}
.glossymenu div.submenu ul {
    list-style-type: none;
    margin: 0;
    padding: 0
}
.glossymenu div.submenu ul li {
    border-bottom: 1px solid #f4eded;
    background-color: #fff
}
.glossymenu div.submenu ul li a {
    display: block;
    color: #000;
    text-decoration: none;
    padding: 3px 0;
    padding-left: 0px;
    background-color: #fff
}
.glossymenu div.submenu ul li a:hover {
    color: #d25a0b
}
.infomsg {
    margin: 2px 0 2px 0;
    padding: 3px;
    background-color: #fff;
    color: #d25a0b;
    border: 2px solid #d25a0b
}
#com_loader {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 10000
}
.info_green {
    color: #006600;
    background-color: #87CF7A;
    padding: 8px;
    margin: 10px 0 10px 0;
    border-radius: 5px;
}
.info_red {
    color: #B70909;
    background-color: #F4A6A6;
    padding: 8px;
    margin: 10px 0 10px 0
}
.nl_statusbar1 {
    height: 23px;
    width: 100%;
    border: 1px solid #665e58;
    border-radius: 5px;
}
.nl_statusbar2 {
    height: 23px;
    background-color: #F00;
    text-align: center;
    line-height: 23px
}
#slidedown_top {
    position: relative;
    float: right;
    width: 34px;
    height: 34px;
    z-index: 998;
    cursor: pointer
}
#slidedown_bottom {
    position: absolute;
    width: 100%;
    height: 100%
}
#slidedown_content {
    position: absolute;
    width: 100%;
    height: 350px;
    top: -350px;
    z-index: 999;
    background-color: #d25a0b
}
#slidedown_content .content {
    height: 350px
}
#slidedown_content .outdiv {
    height: 340px;
    margin: 5px;
    background-color: #f6f0f0
}
.status {
    position: absolute;
    z-index: 10000;
    border: 1px solid #D25A0B;
    background: #fff;
    padding: 5px;
    color: #333
}
.maxlength {
    font-weight: bold;
    color: #ff3300
}
.navi_toggle {
    float: right;
    cursor: pointer
}
.search_info {
    font-weight: bold;
    color: red;
    border: 2px solid red;
    text-align: center;
}
.ac_results {
    border: 1px solid gray;
    background-color: white;
    padding: 0;
    margin: 0;
    list-style: none;
    position: absolute;
    z-index: 10000;
    display: none;
    width: 201px;
    height: 150px;
    overflow: auto
}
.ac_results li {
    padding: 2px 5px;
    white-space: nowrap;
    color: #101010;
    text-align: left
}
.ac_over {
    cursor: pointer;
    background-color: #ffffcc
}
.ac_match {
    text-decoration: underline;
    color: black
}
a.page_navigation:link, a.page_navigation:visited {
    color: #000;
    font-weight: normal;
    text-decoration: none;
    margin: 1px;
    border: 1px solid #c7bdb9;
    background-color: #fff;
    padding: 3px 8px 3px 8px
}
a.page_navigation:hover {
    background-color: #d25a0b;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
    border: 1px solid #d25a0b
}
.page_active {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
    margin-right: 2px;
    border: 1px solid #d25a0b;
    background-color: #d25a0b;
    padding: 3px 8px 3px 8px
}
