<script type="text/javascript" src="{$jspath}/jquery-2.1.1.js"></script>
<script type="text/javascript" src="{$jspath}/jpatch.js"></script>
<script type="text/javascript" src="{$jspath}/jquery.ui.js"></script>
<script type="text/javascript" src="{$jspath}/jtooltip.js"></script>
<script type="text/javascript" src="{$jspath}/jcolorbox.js"></script>
<script type="text/javascript" src="{$jspath}/functions.js"></script>