<script>
<!-- //
setTimeout('location.replace("{$infolink}")', {$timerefresh});
//-->
</script>

<div class="message">
  <h2>{$infotitle}</h2>
  <p>{$infotext}</p>
  <a href="{$infolink}" class="btn btn-primary">{#Continue#}</a>
</div>
