{if !empty($login_error_true)}
<script>
<!-- //
$(function() {
    setTimeout(function () {
        $('#ajl').show();
        $('#ajlw').hide();
    }, 500);
});
//-->
</script>

    <div class="font-weight-bold">{#Error#}</div>
    <p>{#WrongLoginData#}</p>
{/if}
