{if perm('settings')}
<script>
<!-- //
$(function() {
    toggleCookie('infos_navi', 'infos_open', 30, '{$basepath}');
});
//-->
</script>

<div class="header">
  <div id="infos_navi" class="navi_toggle"><img src="{$imgpath}/toggle.png" alt="" /></div>
  <img src="{$imgpath}/about.png" alt="" /> {#Info#}
</div>
<div id="infos_open" class="sysinfos">
  {#SysInfosInf#}
</div>
{/if}
